.orders-badge {
    color: red;
    font-size: 16px;
    background-color: rgb(131, 216, 231);
    border-radius: 30%;
    padding: 4px;
    

}

.welcome-screen {

    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-msg {
    margin-top: -300px;
    margin-bottom: 80px;
}

.notification {

  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notificationn .badgee {
  position: relative;
  top: -3px;
  right: -10px;
  padding: 2px 7px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.747);
  color: white;
}

.notificationn .badgee-sm {
  position: relative;
  /* top: -6px; */
  right: -5px;

  padding: 2px 7px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.733);
  color: white;
}


.error-img-custom {
  height: 30rem;
  width: 30rem;
}


.email-content-display-wrapper {
  display: flex;
  margin-top: 3rem;
  margin-left: 6rem;
  justify-content: space-between;
}

.email-content-display {
  /* width: 1900px; */
}

/* To display current active mailbox tab */
.active-custom {
  background-color: rgba(241, 204, 36, 0.753);
}


.custom-btn {
  width: 16rem;
}


.email-row-unread {
  background-color: rgba(0, 81, 255, 0.233);
}

.email-row-read {
  background-color: rgba(0, 255, 128, 0.233);
}

.contact-card {
  width: 100%;
}

.address-card {
  width: 150%;
}

.company-card {
   width: 150%;
}

.delete-btn {
  
}

.delete-btn:hover {
  background-color: yellow !important;
  color: black !important;
  font-weight: 800;
}

.cancel-btn {

}

.cancel-btn:hover {
  background-color: red !important;
}

.message-content textarea {
  border-radius: 3px;
  border: 2px solid rgb(255, 153, 0);
  padding: 15px;
  width: 100% !important;
  height: 100%;

}

.btn-showemails {
  background-color: cornflowerblue;
  color: white;
}

.btn-showfiles {
  background-color: rgb(3, 16, 59);
  color: white;

}

.hover-to-bright {
  color: black;
}

.hover-to-bright:hover {
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ff0000;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}

tr:nth-child(even) {
  counter-reset: white;
  background-color: #00aaff3b;
}